# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


backend/_tmp
claude_plans/
*__pycache__
*.vscode
*.claude

frontend/public/*.mjs
frontend/public/*.wasm
frontend/public/*.onnx
frontend/public/vad.worklet.bundle.min.js


# dependencies
frontend/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
